#detailBase{
    padding: 10px 100px;
}

.detailLeftup{
    display: flex;
    margin: 5px;
}
.detailLeftup>.explanarea{
    display: grid;
    width: 300px;
    grid-template-columns: 24px 24px 159px;
    grid-template-rows: auto 24px auto auto auto auto;
    margin: 5px;
    row-gap: 10px;
}
.bestseller{
    grid-column: 1 / 3;
    grid-row: 1 / 2;
    background-color: red;
    border-radius: 8px;
    color: white;
    width: 100px;
    height: 30px;
    align-content: center;
    text-align: center;
}
.courseTitle{
    grid-column: 1/4;
    grid-row: 2/3;
    height: 24px;
}
.detailex{
    grid-column: 1 / 4;
    grid-row: 3 / 4;
    border: 0;
    height: 80px;
    white-space: normal;
    overflow: visible;
}
.rating-icon{
    grid-column: 1 / 2;
    grid-row: 4 / 5;
}
.rating{
    grid-column: 2 / 4;
    grid-row: 4 / 5;
    align-content: center;
}
.persons-icon{
    grid-column: 1 / 2;
    grid-row: 5 / 6;
}
.studentnum{
    grid-column: 2 / 4;
    grid-row: 5 / 6;
    align-content: center;
}
.tutor{
    justify-self: start;
    grid-column: 1 / 3;
    grid-row: 6 / 7;
}
.tutor-name{
    grid-column: 3/4;
    grid-row: 6/7;
}
.detailLeftup>.Imagearea{
    display: grid;
    background-image: url("/public/image/course-image.jpg");
    background-size: 320px;
    background-repeat: no-repeat;
    background-size: cover;
    width: 320px;
    grid-template-columns: 36px auto auto auto auto  auto auto auto ;
    grid-template-rows: auto auto auto auto auto auto auto 36px auto;
}
.ggimIcon-detail{
    width: 36px;
    height: 36px;
    margin-left: 55px;
    margin-top: 20px;
    grid-column: 9/10;
    grid-row: 1/2;
}
.ggimIcon-detail:hover .Icon-path{
    fill: red;
    stroke: red;
}
.detailLeftdown{
    display: flex;
    flex-direction: column;    
    box-shadow: 0 12px 0 #d6d6d6;
    width: 620px;
    gap: 10px;
}
.detail-buttonarea{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 5px;
    font-size: 24px;
    background-color: #dddddd;
    padding: 10px 5px 5px 10px;
}
.tap-button{
    border-radius: 12px;
    height: 30px;    
}
.course-Expl{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.course-Expl li{
    margin-bottom: 5px ;
    border: solid #dddddd;
}
.course-Expl li:hover{
    background-color: #dddddd;
}
.basicclassName{
    display: flex;
    flex-direction: column;
    border: solid #dddddd;
    border-radius: 8px;
    padding: 10px;
    gap: 5px;    
}
.advancedClassName{
    display: flex;
    flex-direction: column;
    border: solid #dddddd;
    padding: 10px;
    gap: 5px;
}
.ProjectClassName{
    display: flex;
    flex-direction: column;
    border: solid #dddddd;
    padding: 10px;
    gap: 5px;
}
.sub-list-wrapper {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-out, opacity 0.5s ease-out;
    border: solid white;
    opacity: 0;
}

.sub-list-wrapper.open {
    max-height: 500px; 
    opacity: 1;
    padding-top: 10px;
    border: solid white;
}
.arrow-icon-triangle{
    transition: transform 0.3s ease;
}
.arrow-icon-triangle.open {
    transform: rotate(90deg);
}
.arrow-icon-triangle.open .{
    display: block;
}