.detailLeftup{
    display: flex;
    padding: 50px 150px;
}
.detailLeftup>.explanarea{
    display: grid;
    width: 300px;
    grid-template-columns: 24px 24px 159px;
    grid-template-rows: auto 24px auto auto auto auto;
    margin: 5px;
    justify-items: center;
    row-gap: 10px;
}
.bestseller{
    grid-column: 1 / 3;
    grid-row: 1 / 2;
    background-color: red;
    border-radius: 8px;
    color: white;
    width: 100px;
    height: 30px;
    align-content: center;
    margin: 10px;
}
.courseTitle{
    grid-column: 1/4;
    grid-row: 2/3;
    height: 24px;
}
.detailex{
    grid-column: 1 / 4;
    grid-row: 3 / 4;
    border: 0;
    height: 80px;
    white-space: normal;
    overflow: visible;
}
.rating-icon{
    grid-column: 1 / 2;
    grid-row: 4 / 5;
}
.rating{
    grid-column: 2 / 4;
    grid-row: 4 / 5;
}
.persons-icon{
    grid-column: 1 / 2;
    grid-row: 5 / 6;
}
.studentnum{
    grid-column: 2 / 4;
    grid-row: 5 / 6;
}
.tutor{
    justify-self: start;
    grid-column: 1 / 3;
    grid-row: 6 / 7;
}
.tutor-name{
    grid-column: 2/4;
    grid-row: 6/7;
}
.detailLeftup>.Imagearea{
    display: grid;
    background-image: url("/public/image/course-image.jpg");
    background-size: 320px;
    background-repeat: no-repeat;
    background-size: cover;
    width: 320px;
    grid-template-columns: 36px auto auto auto auto  auto auto auto ;
    grid-template-rows: auto auto auto auto auto auto auto 36px auto;
}
.ggimIcon-detail{
    width: 36px;
    height: 36px;
    margin-left: 55px;
    margin-top: 20px;
    grid-column: 9/10;
    grid-row: 1/2;
}