#HerderPart {
    display: grid;
    width: 1200px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 76px;
    justify-items: center;
    margin: 0 auto;
}

.NaviBar{
    grid-column: 1 / 2;
    display: flex;
    align-items: center;
    gap : 10px;
    font-size: 16px;
}
.Logo{
    font-size: 24px;
    color: blue;
}

.searchbar{
    grid-column: 2 / 3;
    display: flex;
    align-items: center;
}
.personalarea{
    grid-column: 3 / 4;
    display: flex;
    align-items: center;
    gap : 10px;
    font-size: 16px;
}