#mainarea {
    max-width: 1200px; 
    margin: 0 auto; 
}

.cardSection{
    width: 1980px;
    height: 353px;
    background-color: #f0f0f0;;
}

.cardImage{
    width: 610px;
    height: 320px;
    background-image: url("/public/image/photo1.jpg");
    background-size: cover;
    background-position: center;
}