.cardSection{
    width: 1980px;
    height: 353px;
    background-color: #f0f0f0;;
}

.cardImage{
    display: flex;
    width: 610px;
    height: 320px;
    background-image: url("/public/image/photo1.jpg");
    background-size: cover;
    background-position: center;
}

.hotIcon{
    width: 85px;
    height: 24px;
}

.ggimIcon{
    width: 36px;
    height: 36px;
    background-image: url("/public/image/하트.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: inline-block;
}