#mainarea {
    max-width: 1200px; 
    margin: 0 auto; 
}

.cardSection{
    width: 1980px;
    height: 353px;
    background-color: #f0f0f0;;
}

.cardImage{
    display: flex;
    justify-content: space-between;
    width: 610px;
    height: 320px;
    background-image: url("/public/image/photo1.jpg");
    background-size: cover;
    background-position: center;
}

.hotIcon{
    width: 85px;
    height: 24px;
    background-color: red ;
    color: #f0f0f0;
    border-radius: 9px;
    text-align: center;
    margin: 20px 0px 0px 20px;
    font-size: 14px;
}

.ggimIcon{
    margin: 20px 20px 0px 0px;
}