name: Frontend S3 Deploy

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '21'

      - name: Install dependencies
        run: npm install
        working-directory: frontend

      - name: Build project
        run: npm run build
        working-directory: frontend
        env:
          CI: false
          REACT_APP_SIGN_API_URL: http://ecs-alb-01-175030193.ap-northeast-2.elb.amazonaws.com/api/member
          REACT_APP_COURSE_API_URL: http://ecs-alb-01-175030193.ap-northeast-2.elb.amazonaws.com/api/course
          REACT_APP_PAYMENT_API_URL: http://ecs-alb-01-175030193.ap-northeast-2.elb.amazonaws.com/api/payment
          REACT_APP_REVIEW_API_URL: http://ecs-alb-01-175030193.ap-northeast-2.elb.amazonaws.com/api/reviews

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ap-northeast-2

      - name: Deploy to S3
        run: |
          aws s3 sync frontend/build/ s3://elc-project-frontend --delete
